.site-branding .main-title a {
    font-family: 'Nunito', sans-serif;
    font-size: 50px;
    font-weight: 800;
    color: black;
}

.site-branding {
    margin-top: 50px;
    margin-bottom:  00px;
}

.site-branding .site-description {
    margin-top: 10px;
    font-size:  19px;

}

.hero-image {
    margin-top:  -55px;
}





.mailerlite-form .mailerlite-subscribe-button-container {
    text-align: right;
}

#mailerlite-1-field-email {
    width:  100%;
}


#mailerlite-form_1 {
    padding:30px;
    border:3px solid #DC7289;
    border-radius: 10px;
}

#mailerlite-form_1 .mailerlite-subscribe-submit {
    background-color: #119b6d;
}

